.hero__title {
  margin-bottom: 20px;
  width: 540px;
  font-weight: 500;
  font-size: 50px;
  line-height: 1.32;
  letter-spacing: 1px;
  color: var(--primary-title-color);
}

.hero__text {
  margin-bottom: 70px;
  width: 540px;
  font-size: 18px;
  line-height: 1.667;
  color: var(--text-color-hero);
}
