.hero-section {
  background-image: url(../images/bg-hero.svg);
  background-repeat: no-repeat;
  background-position: right top;
  background-size: contain;
  padding-top: 302px;
  padding-bottom: 386px;
}

.mobile-login-section {
  padding-top: 110px;
  padding-bottom: 110px;
}

.price-section {
  background-image: url(../images/bg-price.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: 50%;
  padding-top: 238px;
  padding-bottom: 176px;
}
