:root {
  --primary-bg-color: #ffffff;
  --primary-nav-color: #505f98;
  --secondery-nav-color: #929ecc;
  --log-color: #37447e;
  --primary-bg-btn-color: #111b47;
  --primary-text-btn-color: #ffffff;
  --secondery-text-btn-color: #091133;
  --primary-title-color: #091133;
  --primary-text-color: #6f7cb2;
  --secondery-text-color: #5d6970;
  --text-color-hero: #505f98;
  --copy-color: #939ea4;
  --accent-color: #0995f3;
  --social-icon-color: #b0b8bc;
  --price-color: #222f65;
  --border-color: #cdd1d4;
  --footer-bg-color: #e7ecff;
}
